.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 70px;
  
}

.navbar-left {
  width: 300px;
}
.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar-center .nav-links {
  display: flex;
  align-items: center;
  list-style: none;           
  padding: 0;                 
  margin: 0;
  height: 70px;
}
.navbar-center .nav-links a {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-center .nav-links li {
  display: inline-block;          /* Makes each list item inline */
  height: 70px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
}

.navbar-center .nav-links li:hover a{
  color: black;
}
.navbar-center .nav-links li:hover {
  background-color: white;
}


.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}


.navbar-right {
  display: flex;
  justify-content: end;
  width: 300px;
  margin-right: 10px;
}


