.table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust spacing between tables */
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 45%; /* Adjust width as needed */
    margin: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.Home {

}

.draftText {
    text-align: center;
}