.leagueContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.headerLogin {
    width: 350px;
    height: 350px;
    border: 2px solid #7d7c7c;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    margin-right: 150px;
}
.createLeague {
    width: 350px;
    height: 350px;
    border: 2px solid #7d7c7c;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
}
.leagueHeaders {
    margin-top: -20px;
}

.headerNoLogin {
    text-align: center;
}

.passwordText {
    font-weight: bold;
}

.joinLeagueButton {
  background-color: #333; /* Primary color */
  color: white;              /* Text color */
  border: none;              /* Remove default border */
  border-radius: 5px;       /* Rounded corners */
  padding: 10px 20px;       /* Vertical and horizontal padding */
  font-size: 16px;           /* Font size */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-top: 50px;
}
.createLeagueButton {
    background-color: #333; /* Primary color */
    color: white;              /* Text color */
    border: none;              /* Remove default border */
    border-radius: 5px;       /* Rounded corners */
    padding: 10px 20px;       /* Vertical and horizontal padding */
    font-size: 16px;           /* Font size */
    cursor: pointer;           /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-top: 20px;
}


.divider-container {
    display: flex;
    align-items: center;        /* Center items vertically */
    justify-content: center;     /* Center items horizontally */
    flex-direction: column;
    
}
  
.divider-line {  
    align-items: center;            
    height: 230px;  
    width: 5px;
    background-color: black;    /* Line color */
    margin: 0 20px;             /* Space between the line and the text */
    flex-grow: 1;
}
  
.divider-text {
    font-weight: bold; /* Bold text */
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    color: black; /* Text color */
    white-space: nowrap; /* Prevent text from wrapping */
}

.currentLeaguesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}
.currentHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 200px;
    width:100%;
}
.currentLeaguesText {
    color: white;
}

.currentLeaguesDisplay {
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-flow: row;
}
.noLeague {
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.noLeagueHeader {
    margin-bottom: 100px;
}
.noleagueHeader2 {
    margin-top: 50px; /*dont know what im doing here*/
}
.leagueBlocks {
    height: 250px;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.leagueName {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

.leagueBlocks:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.leagueBlocks:hover .leagueName {
    text-decoration: underline;
}
.numPlayers {
    color: rgb(147, 145, 145);
    font-style: italic;
    font-size: 20px;
    margin-top: 65px;
}

input[type="text"].inputLeagueFields,
input[type="password"].inputLeagueFields,
input[type="text"].inputCreateLeagueFields,
input[type="password"].inputCreateLeagueFields {
    all: unset;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: .5px;
    border-color: black;
    padding: 1px;
    width: 200px;
    height: 40px;
}

input[type="text"].inputCreateLeagueFields,
input[type="password"].inputCreateLeagueFields {
    margin-top: 2px;
}

input[type="text"].inputLeagueFields,
input[type="password"].inputLeagueFields,
input[type="text"].inputCreateLeagueFields,
input[type="password"].inputCreateLeagueFields:hover {
    cursor: text;
}
