.starters-table-head {
    justify-content: center;
    width: 100%;
    text-align: center;
}

.starters-table {
    width: 30rem;
    margin-top: 3rem;
    margin-left: 2rem;
}
.starters-table thead tr th {
    padding: 1rem;
    font-size: 2rem;
}
.starters-body {
    border: 1px solid black;
}

.starters-table tbody tr td {
    border-top: 2px solid;
    border-color: rgb(166, 165, 165);
    height: 1rem;
    
}
.position {
    width: 10rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.player {
    width: 10rem;
    margin-left: 10rem;
    text-align: center;
}